<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169489449260-cmh56189lbrmtslmnv34avrsadp0vhlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169489449260-cmh56189lbrmtslmnv34avrsadp0vhlk</string>
	<key>API_KEY</key>
	<string>AIzaSyDqimMbv9RvJejAuuOSOrmtrk0-JoSHEmo</string>
	<key>GCM_SENDER_ID</key>
	<string>169489449260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Evgeny.VKAuthorization</string>
	<key>PROJECT_ID</key>
	<string>vkway-a5fba</string>
	<key>STORAGE_BUCKET</key>
	<string>vkway-a5fba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169489449260:ios:215d5ae2ea233213</string>
	<key>DATABASE_URL</key>
	<string>https://vkway-a5fba.firebaseio.com</string>
</dict>
</plist>